[eval] #eval parameters
batch_size = 64

[data] #data parameters
data_path = ../datasets/EntityQuestions
valid_file = dev
test_file = test

max_seq_length = 64

ke_path = ../knowledge_embedding/wikipedia/transe.npy

[model] #model parameters
model_name = EntityQuestions_Adapter
PLM_path = bert-base-uncased
output_dim = 30522

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/EntityQuestions/Plug_General
model_name = Adapter

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = Affine
mapper_path = ../mapping_networks/Wikipedia/Dropout25/Affine_5.bin
input_dim = 128
output_dim = 768