[train] #train parameters
epoch = 60
batch_size = 64
optimizer = bert_adam
learning_rate = 2E-3

[eval] #eval parameters
batch_size = 64

[data] #data parameters
data_path = ../datasets/Wiki80
train_file = train.txt
valid_file = dev.txt
test_file = test.txt

max_seq_length = 128

[model] #model parameters
model_name = Wiki80_Adapter
PLM_path = bert-base-uncased
output_dim = 80

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/Wiki80/BaseModel
model_name = Adapter

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = None