[eval] #eval parameters
batch_size = 10
iteration = 100

[data] #data parameters
data_path = ../datasets/FewRel
valid_file = val_wiki.json
test_file = test_wiki.json
Nway = 10
Kshot = 5
Qquery = 5

max_seq_length = 512

ke_path = ../knowledge_embedding/wikipedia/transe.npy

[model] #model parameters
model_name = FewRel_BERT
PLM_path = bert-base-uncased
output_dim = -1

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/FewRel/Plug_TaskSpecific
model_name = 10way5shot

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = Affine
mapper_path = ../output/FewRel/Plug_TaskSpecific/5way1shot/Affine.bin
input_dim = 128
output_dim = 768