[eval] #eval parameters
batch_size = 64

[data] #data parameters
data_path = ../datasets/Wiki80
valid_file = dev.txt
test_file = test.txt

max_seq_length = 128

ke_path = ../knowledge_embedding/wikipedia/transe.npy

[model] #model parameters
model_name = Wiki80_BitFit
PLM_path = bert-base-uncased
output_dim = 80

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/Wiki80/Plug_General
model_name = BitFit

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = Affine
mapper_path = ../mapping_networks/Wikipedia/Dropout35/Affine_4.bin
input_dim = 128
output_dim = 768