[train] #train parameters
epoch = 1
iteration = 3000
batch_size = 4
optimizer = bert_adam
learning_rate = 5E-4

[eval] #eval parameters
batch_size = 10
iteration = 200
step_size = 75

[data] #data parameters
data_path = ../datasets/FewRel
train_file = train_wiki.json
valid_file = val_wiki.json
test_file = test_wiki.json
Nway = 5
Kshot = 1
Qquery = 5

max_seq_length = 512

[model] #model parameters
model_name = FewRel_Adapter
PLM_path = bert-base-uncased
output_dim = -1

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/FewRel/BaseModel
model_name = Adapter_5way1shot

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = None