[eval] #eval parameters
batch_size = 10
iteration = 100

[data] #data parameters
data_path = ../datasets/FewRel
valid_file = val_fewPubmed.json
test_file = test_fewPubmed.json
Nway = 10
Kshot = 1
Qquery = 5

max_seq_length = 512

ke_path = ../knowledge_embedding/wikimedia/transe.npy
ke_type = wikimedia

[model] #model parameters
model_name = FewRel_RoBERTa
PLM_path = roberta-base
output_dim = -1

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/FewRel_DomainTransfer/RoBERTa
model_name = 10way1shot

accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = Affine
mapper_path = ../output/FewRel_DomainTransfer/RoBERTa/5way1shot/Affine.bin
input_dim = 128
output_dim = 768