[train] #train parameters
epoch = 2
batch_size = 64
optimizer = bert_adam
learning_rate = 1E-5

[eval] #eval parameters
batch_size = 64
step_size = 3000

[data] #data parameters
data_path = ../datasets/WikiET
train_file = train.json
valid_file = dev.json
test_file = test.json

max_seq_length = 64

ke_path = ../knowledge_embedding/wikipedia/transe.npy

[model] #model parameters
model_name = WikiET_BERT
PLM_path = bert-base-uncased
output_dim = 68

[output] #output parameters
output_time = 1
test_time = 1

model_path = ../output/WikiET/FineTuning
model_name = Downstream

accuracy_method = MultiLabel
output_function = Basic
output_value = micro_precision,micro_recall,micro_f1

tqdm_ncols = 150

[mapper] #mapper parameters
mapper_type = Affine
mapper_path = ../mapping_networks/Downstream/WikiET/Affine_2.bin
input_dim = 128
output_dim = 768